header {
  /* font-size: 1.8rem; */
  background-color: var(--color-primary-dark);
  margin-bottom: var(--size-600);
  /* max-height: 8rem; */
  min-height: 6rem;
  font-size: var(--size-500);
  padding: var(--size-300) 0;
  color: var(--light-text);
  /* overflow: hidden; */
}

header .logo a {
  margin-bottom: var(--size-400);
  /* font-size: var(--size-500); */
  font-family: var(--heading-font);
  font-weight: 700;
}

header .logo p {
   margin: 0;
}

header .logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  gap: var(--size-400)

}

header svg {
  max-height: 60px;
  max-width: 60px;
}

header .wrapper {
  flex-wrap: wrap;
  overflow: hidden;
}

header nav ul {
  display: flex;
  justify-content: center;
  --gap: var(--size-300);
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

header nav ul > * {
  margin: var(--gap);
}

header nav {
  /* background-color: var(--dark-green); */
  width: 100vw;
  padding: var(--size-300) 0;
  /* color: var(--lightest); */
  /* margin: 0 calc(var(--size-700) * -1); */
}

@media (min-width: 36rem) {
  header {
    padding: var(--size-500) 0;
  }

  header .logo {
    margin-bottom: 0;
    /* text-align: left; */
  }
}

@media (min-width: 48rem) {
  header .logo {
    text-align: left;
    width: initial;
    padding-left: var(--size-500);
    justify-content: flex-start;
  }

  header nav {
    width: initial;
    padding-right: var(--size-500);
    /* background-color: var(--light-green); */
    /* color: var(--darker); */
  }

  header svg {
    max-height: 60px;
    max-width: 60px;
  }
}
@media (min-width: 72rem) {
  header .logo {
    padding-left: 0;
  }

  header nav {
    padding-right: 0;
    /* background-color: var(--light-green); */
    /* color: var(--darker); */
  }
}
