<footer class="footer">
    <div class="wrapper text-center flow">
        <div id="wcb-wrapper"></div>
        <nav>
            <ul>
                {% for item in nav %}
                    <li>
                        <a href="{{ item[1].link }}">{{ item[1].title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="text-center">
            <p>Copyright {% year %} Fershad Digital
            </p>
            <small>Fershad Digital LTD is a company registered in Taiwan.
                <br>Unified business number: 82954243
                <br>
                <a href="{{ site.baseURL}}/privacy">Privacy policy</a>
            </small>
        </div>
    </div>
</footer>

<!-- <script async src="/js/carbon-badge.mjs" type="module"></script>
<script async nomodule="" src="/js/carbon-badge.js"></script> -->