<header>
    <div class="wrapper">
        <div class="logo">
            {% include 'partials/logo.svg' %}
            <div class="text">
                <p>Optimised</p>
                <small>Website performance and sustainability.</small>
            </div>
        </div>
        <nav>
            <ul>
                {% for item in nav %}
                {% unless item[1].footerOnly == true %}
                <li>
                    <a href="{{ item[1].link }}">{{ item[1].title }}</a>
                </li>
                {% endunless %}
                {% endfor %}
                <li><a href="#subscribe">Subscribe</a></li>
            </ul>
        </nav>
    </div>
</header>